<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Symfony Form</title>
    </head>
    
   <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Orders</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            More actions
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/product">Products</a></li>
                            <li><a class="dropdown-item" href="/store/product">Add New Product</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/user/orders">See Orders </a></li>
                            <li><a class="dropdown-item" href="/order">Update Orders </a></li>
                        </ul>
                    </li>
                    
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="card-body mt-5">
        <div class="d-flex justify-content-between align-items-center">
        <h2> List of Products</h2>
        <a href="{{path('product_store')}}" class="btn btn-sm btn-primary">
          Add
        </a>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.category.name}}</td><!-- pour acceder au Tableau Categrie qui est en relation avec Product-->
                    <td>{{product.quantity}}</td>
                    <td>{{product.price}}</td>
                    <td><img style="max-width: 100px " src="{{ absolute_url('uploads/'~ product.image) }}" class="card-img-top" alt="{{ product.name }}"></td>
                    
                    <td class="d-flex align-items-center justify-content-around">
                        <a href="{{path('product_show',{id: product.id})}}" class="btn btn-sm btn-dark">
                            Show
                        </a>
                        <a href="{{path('product_edit',{id: product.id})}}" class="btn btn-sm btn-warning">
                            Edite
                        </a>
                        
                        <!-- le produit dont on click delete , son id represente encore l id de la form
                         qu on va la submit si l admin accord le delete , donc voila une forme dynamique
                         qui va generer le controlleur-->
                        <form id="{{product.id}}" action="{{path('product_delete',{id: product.id})}}"
                        method="post"></form>
                        <button onclick="deleteItem('{{product.id}}')" class="btn btn-danger btn-sm">Delete</button>
                    </td>
                   
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>
            function deleteItem(id){
                Swal.fire({

  title: "Are you sure?",
  text: "You won't be able to revert this!",
  icon: "warning",
  showCancelButton: true,
  confirmButtonColor: "#3085d6",
  cancelButtonColor: "#d33",
  confirmButtonText: "Yes, delete it!"
}).then((result) => {
  if (result.isConfirmed) {
       document.getElementById(id).submit();
  }
});
            }
        </script>

</body>
</html> 