<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ asset('assets/css/productlist.css') }}"rel="stylesheet">
    <style>
    .navbar {
    background-color: var(--navbar-bg);
    transition: background-color 0.5s;
}

.navbar-brand, .nav-link {
    color: var(--text-color) !important;
}
</style>
    <title>My Orders</title>
</head>
<body">
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Orders</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              More actions
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="{{ path('admin') }} "
                  >Store Products</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="{{ path('admin') }} "
                  >Add New Product</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="{{ path('admin') }} "
                  >Change Staus(admin)
                </a>
              </li>
              <li><a class="dropdown-item" href="/order">My Orders </a></li>
            </ul>
          </li>
        </ul>

        <label class="theme" onclick="toggleDarkMode()">
          <input class="input" checked="checked" type="checkbox" />
          <svg
            width="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke="currentColor"
            height="24"
            fill="none"
            class="icon icon-sun"
          >
            <circle r="5" cy="12" cx="12"></circle>
            <line y2="3" y1="1" x2="12" x1="12"></line>
            <line y2="23" y1="21" x2="12" x1="12"></line>
            <line y2="5.64" y1="4.22" x2="5.64" x1="4.22"></line>
            <line y2="19.78" y1="18.36" x2="19.78" x1="18.36"></line>
            <line y2="12" y1="12" x2="3" x1="1"></line>
            <line y2="12" y1="12" x2="23" x1="21"></line>
            <line y2="18.36" y1="19.78" x2="5.64" x1="4.22"></line>
            <line y2="4.22" y1="5.64" x2="19.78" x1="18.36"></line>
          </svg>
          <svg viewBox="0 0 24 24" class="icon icon-moon">
            <path
              d="m12.3 4.9c.4-.2.6-.7.5-1.1s-.6-.8-1.1-.8c-4.9.1-8.7 4.1-8.7 9 0 5 4 9 9 9 3.8 0 7.1-2.4 8.4-5.9.2-.4 0-.9-.4-1.2s-.9-.2-1.2.1c-1 .9-2.3 1.4-3.7 1.4-3.1 0-5.7-2.5-5.7-5.7 0-1.9 1.1-3.8 2.9-4.8zm2.8 12.5c.5 0 1 0 1.4-.1-1.2 1.1-2.8 1.7-4.5 1.7-3.9 0-7-3.1-7-7 0-2.5 1.4-4.8 3.5-6-.7 1.1-1 2.4-1 3.8-.1 4.2 3.4 7.6 7.6 7.6z"
            ></path>
          </svg>
        </label>

        <form class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">
            Search
          </button>
        </form>
      </div>
    </div>
  </nav>

    <div class="container mt-5 " >
        <div class="card bg-dark color-white">
            <div class="card-body" >
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2 style="color: aliceblue;">List of Orders</h2>

                    <a class="button" href="/">
    <span class="button_lg">
        <span class="button_sl"></span>
        <span class="button_text">Back Home</span>
    </span>
</a>
                   


                </div>
                <table class="table table-bordered table-hover" >
                    <thead class="thead-light" >
                        <tr>
                            <th>ID</th>
                            <th>Product Name</th>
                            <th>Price</th>
                            <th>Status</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                       
                    {% for order in orders %}
                
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ order.pname }}</td>
                            <td>{{ order.price }}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      <h7>Change Status (admin)</h7>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      <li><a class="dropdown-item" 
                                        href="{{path('order_status_update',{id:order.id,status:'Panding'})}}">Panding</a></li>
                                      <li><a class="dropdown-item" 
                                        href="{{path('order_status_update',{id:order.id, status:'Traitement...'})}}">Review Order</a></li>
                                      <li><a class="dropdown-item" 
                                        href="{{path('order_status_update',{id:order.id ,status:'Shipped'})}}">Shipped</a></li>
                                    </ul>
                                  </div>
                             
                            </td>
                        </tr>
                        
                    {% endfor %}
                    </tbody>
                   
                </table>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function deleteItem(id) {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById(id).submit();
                }
            });
        }
    </script>
</body>
</html>
